.rform{
	padding:0;
	margin-bottom:0;
}
.rtable{
	border-radius:5px;
	margin-top:70px;
	color:gray;
	background-color:white;
}
.rtable th{
	text-align: center;
	vertical-align: middle !important;
}
.siform{
	border-radius:5px;
	margin-top:70px;
	background-color:white;
}
.suform{
	border-radius:5px;
	margin-top:70px;
	background-color:white;
}
.fiche{
	border-radius:5px;
	margin-top:70px;
	background-color:white;
}
#titleFiche{
	text-align: right;
}
td{
	border:none;
}
legend{
	text-align: center;
}
body{
	background: url('../img/bg.jpg');
	background-position: center top;
}
.table th, .table td { 
     border-top: none !important; 
 }